<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/main.css">
    <title>About</title>
</head>
<body>
    <div id="mainDiv">
        <h1 id="mainH">About</h1>
        <button id="linkButton"><a href="/">Homepage</a></button>
        <button id="linkButton"><a href="/about/test">Test</a></button>
    </div>
    
</body>
</html>